h1{margin-left:550px; 
margin-top: 50px;
color: navy;
font-size: 50px;
font-weight: bolder;}

h2 {margin-left:250px;
font-size: 25px;
font-weight: bolder;
color：black}

h3{
  margin-left: 400px;
  font-size:25px;
  font-weight:bolder;
  color: black
}
h4{margin-left: 550px;
font-size: 25px;
font-weight: bolder;
color: black}